$background-color-light: #e28525;
$background-color-medium: #016972;
$background-color-dark: #00403f;

$font-family-main: "Big Shoulders Display", cursive;
$font-family-secondary: "Lexend Deca", sans-serif;
